$background-primary: #313338;
$background-secondary: #2b2d31;
$background-light: #404249;
$background-lighter: #a4a7af;
$background-dark: #232428;

$text-primary: white;
$text-secondary: #a7abb4;

$highlight-primary: #f3cc30;
$highlight-error: #ff8495;

$red: #de1738;

$font-family: Pretendard, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
