$background-primary: #313338;
$background-secondary: #2b2d31;
$background-light: #404249;
$background-dark: #232428;

$text-primary: white;
$text-secondary: #a7abb4;

$font-family: Pretendard, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
