@import 'global';

.start-page {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.start-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
